<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510525892830-ou78v7h3p5mnv1mheie9ujv6n638ulku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510525892830-ou78v7h3p5mnv1mheie9ujv6n638ulku</string>
	<key>API_KEY</key>
	<string>AIzaSyDDzSJl-GJ8_RJA-FX070pcR2EAGTHD4wA</string>
	<key>GCM_SENDER_ID</key>
	<string>510525892830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chauhan130.test</string>
	<key>PROJECT_ID</key>
	<string>firestoretests-e877c</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoretests-e877c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510525892830:ios:84ae6063473ceaab1eba4f</string>
</dict>
</plist>